In [1]:
from faker import Faker
import random
import datetime

fake = Faker()

# Generate and print the CREATE TABLE statement
create_table_sql = """
CREATE TABLE grafana_data (
    id serial PRIMARY KEY,
    timestamp timestamp,
    category varchar(50),
    value float,
    region varchar(50),
    department varchar(50),
    product varchar(50),
    status varchar(20)
);
"""

print(create_table_sql)

# Generate and print the INSERT INTO statements
insert_statements = []
categories = ['Category A', 'Category B', 'Category C', 'Category D', 'Category E']
regions = ['North', 'South', 'East', 'West']
departments = ['Sales', 'Marketing', 'Finance', 'Operations']
products = ['Product A', 'Product B', 'Product C', 'Product D']
statuses = ['Pending', 'Processing', 'Completed']

for _ in range(200):
    timestamp = fake.date_time_this_year()
    category = random.choice(categories)
    value = round(random.uniform(10, 1000), 2)
    region = random.choice(regions)
    department = random.choice(departments)
    product = random.choice(products)
    status = random.choice(statuses)

    insert_statement = f"INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('{timestamp}', '{category}', {value}, '{region}', '{department}', '{product}', '{status}');"
    insert_statements.append(insert_statement)

for statement in insert_statements:
    print(statement)

CREATE TABLE grafana_data (
    id serial PRIMARY KEY,
    timestamp timestamp,
    category varchar(50),
    value float,
    region varchar(50),
    department varchar(50),
    product varchar(50),
    status varchar(20)
);

INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-01 00:24:47', 'Category D', 76.72, 'East', 'Sales', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-18 05:19:40', 'Category C', 141.67, 'East', 'Operations', 'Product A', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-12 10:11:01', 'Category A', 718.96, 'West', 'Marketing', 'Product C', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-13 14:40:48', 'Category D', 554.98, 'West', 'Sales', 'Product C', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-21 02:52:46', 'Category E', 270.66, 'South', 'Operations', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-03 13:44:58', 'Category C', 475.85, 'East', 'Finance', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-21 22:46:30', 'Category C', 498.44, 'East', 'Sales', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-09 00:11:42', 'Category D', 318.84, 'East', 'Finance', 'Product C', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-16 17:43:39', 'Category C', 563.17, 'West', 'Sales', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-06 14:29:02', 'Category C', 708.73, 'North', 'Sales', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-26 19:11:10', 'Category B', 770.13, 'West', 'Finance', 'Product C', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-17 05:44:09', 'Category D', 108.93, 'South', 'Finance', 'Product D', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-03 23:32:53', 'Category B', 794.6, 'South', 'Marketing', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-28 19:52:20', 'Category A', 384.97, 'North', 'Marketing', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-27 06:16:56', 'Category C', 368.39, 'East', 'Operations', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-06 06:18:18', 'Category B', 237.74, 'South', 'Finance', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-14 17:18:31', 'Category B', 153.16, 'West', 'Sales', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-14 16:59:49', 'Category B', 935.26, 'North', 'Marketing', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-12 08:46:31', 'Category D', 205.35, 'South', 'Finance', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-31 20:47:56', 'Category D', 892.55, 'West', 'Sales', 'Product A', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-30 22:00:23', 'Category E', 668.43, 'South', 'Finance', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-03 23:54:30', 'Category B', 167.3, 'South', 'Operations', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-11 16:44:10', 'Category A', 571.66, 'East', 'Finance', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-18 14:41:36', 'Category E', 311.22, 'West', 'Finance', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-03 13:54:12', 'Category C', 208.06, 'North', 'Finance', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-05 02:28:52', 'Category E', 557.69, 'East', 'Sales', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-12 01:58:31', 'Category B', 588.19, 'South', 'Operations', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-21 04:55:17', 'Category C', 475.65, 'East', 'Finance', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-07 16:45:57', 'Category C', 658.17, 'West', 'Finance', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-13 19:28:51', 'Category C', 430.89, 'East', 'Operations', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-28 09:27:41', 'Category A', 316.52, 'East', 'Sales', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-09 07:57:27', 'Category C', 833.99, 'South', 'Finance', 'Product A', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-30 15:07:22', 'Category B', 141.39, 'South', 'Sales', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-02 02:54:41', 'Category D', 231.75, 'West', 'Marketing', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-03 05:41:41', 'Category D', 116.25, 'South', 'Finance', 'Product A', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-07 20:22:57', 'Category A', 703.98, 'North', 'Marketing', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-20 04:50:07', 'Category C', 251.32, 'East', 'Sales', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-07 13:23:34', 'Category B', 977.94, 'South', 'Finance', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-25 00:27:26', 'Category A', 287.32, 'North', 'Operations', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-24 13:24:06', 'Category E', 892.17, 'East', 'Operations', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-05 06:03:49', 'Category E', 613.75, 'West', 'Sales', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-28 04:56:25', 'Category E', 756.16, 'South', 'Marketing', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-29 14:54:31', 'Category A', 122.28, 'East', 'Operations', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-27 01:07:44', 'Category A', 339.16, 'South', 'Finance', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-16 13:53:32', 'Category C', 969.73, 'West', 'Operations', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-06 13:23:21', 'Category C', 888.75, 'South', 'Marketing', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-06 23:30:49', 'Category B', 255.81, 'South', 'Marketing', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-11 21:12:02', 'Category D', 864.19, 'North', 'Marketing', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-18 02:47:30', 'Category D', 324.8, 'South', 'Operations', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-03 12:01:53', 'Category E', 78.26, 'North', 'Finance', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-11 19:20:53', 'Category E', 996.92, 'South', 'Marketing', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-11 14:36:56', 'Category B', 350.86, 'West', 'Operations', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-11 22:57:48', 'Category E', 30.67, 'East', 'Operations', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-20 09:31:22', 'Category E', 940.47, 'East', 'Operations', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-25 16:26:40', 'Category E', 65.14, 'North', 'Sales', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-29 03:53:39', 'Category C', 528.96, 'South', 'Finance', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-24 21:23:25', 'Category B', 822.09, 'North', 'Operations', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-03 21:23:05', 'Category E', 900.3, 'East', 'Finance', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-23 04:18:05', 'Category A', 948.96, 'South', 'Marketing', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-13 01:35:20', 'Category D', 475.94, 'West', 'Marketing', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-17 16:04:26', 'Category C', 357.88, 'West', 'Operations', 'Product C', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-10 21:37:38', 'Category D', 998.31, 'South', 'Operations', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-14 18:22:03', 'Category D', 490.25, 'West', 'Sales', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-01 04:38:16', 'Category E', 52.44, 'West', 'Finance', 'Product D', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-01 11:57:08', 'Category D', 602.16, 'South', 'Operations', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-15 01:05:05', 'Category D', 513.23, 'South', 'Sales', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-27 06:42:01', 'Category D', 426.05, 'South', 'Finance', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-26 02:46:02', 'Category C', 170.51, 'North', 'Finance', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-26 16:26:42', 'Category D', 923.05, 'North', 'Finance', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-17 17:00:42', 'Category A', 908.71, 'East', 'Finance', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-02 11:15:57', 'Category B', 638.47, 'West', 'Marketing', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-17 09:25:47', 'Category D', 870.86, 'South', 'Operations', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-04 01:07:28', 'Category C', 360.25, 'South', 'Operations', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-05 22:28:14', 'Category A', 725.79, 'West', 'Sales', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-29 20:15:55', 'Category B', 772.32, 'West', 'Operations', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-09 06:50:19', 'Category D', 357.06, 'East', 'Operations', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-21 22:36:26', 'Category C', 70.6, 'South', 'Sales', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-04 16:55:24', 'Category D', 744.85, 'West', 'Operations', 'Product C', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-21 04:29:16', 'Category C', 334.02, 'East', 'Sales', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-31 09:40:32', 'Category D', 999.59, 'South', 'Finance', 'Product C', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-06-27 12:07:08', 'Category C', 478.86, 'East', 'Sales', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-08-05 03:14:36', 'Category A', 801.64, 'East', 'Marketing', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-20 21:54:11', 'Category C', 255.75, 'West', 'Marketing', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-06 08:36:34', 'Category A', 93.01, 'West', 'Sales', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-16 01:36:17', 'Category D', 935.08, 'West', 'Finance', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-04 21:50:33', 'Category C', 982.67, 'West', 'Marketing', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-04-02 17:49:59', 'Category B', 45.59, 'West', 'Finance', 'Product D', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-26 07:33:23', 'Category E', 868.63, 'North', 'Sales', 'Product B', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-08 06:33:54', 'Category D', 847.7, 'South', 'Sales', 'Product D', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-28 15:14:41', 'Category E', 848.85, 'North', 'Sales', 'Product D', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-25 22:42:55', 'Category A', 146.13, 'West', 'Sales', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-05-02 23:33:34', 'Category C', 24.33, 'North', 'Sales', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-26 22:14:40', 'Category B', 716.46, 'West', 'Marketing', 'Product C', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-09 06:54:45', 'Category A', 341.31, 'South', 'Finance', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-13 12:03:27', 'Category B', 589.69, 'North', 'Sales', 'Product A', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-13 00:02:27', 'Category A', 722.42, 'West', 'Operations', 'Product D', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-01-12 13:59:20', 'Category A', 901.71, 'East', 'Sales', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-22 10:51:55', 'Category D', 492.74, 'South', 'Finance', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-02-04 15:42:53', 'Category A', 155.59, 'South', 'Finance', 'Product D', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-16 15:10:06', 'Category A', 158.86, 'East', 'Operations', 'Product A', 'Completed');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-25 22:14:03', 'Category A', 739.28, 'North', 'Sales', 'Product B', 'Pending');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-03-26 14:00:28', 'Category A', 914.92, 'West', 'Operations', 'Product B', 'Processing');
INSERT INTO grafana_data (timestamp, category, value, region, department, product, status) VALUES ('2023-07-13 21:28:22', 'Category C', 462.46, 'North', 'Operations', 'Product B', 'Processing');